<div class="product-table-container">
  <div class="table-header">
    <h2 class="table-title">Products</h2>
    <div class="table-actions">
      <input
        type="text"
        placeholder="Search by product name"
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
        class="search-input"
      />
      <input
        type="number"
        placeholder="Min price"
        [(ngModel)]="minPrice"
        (input)="filterProducts()"
        class="price-input"
      />
      <input
        type="number"
        placeholder="Max price"
        [(ngModel)]="maxPrice"
        (input)="filterProducts()"
        class="price-input"
      />
      <button (click)="navigateToCreateProduct()" class="create-button">
        <fa-icon [icon]="faPlus"></fa-icon>
        Create Product
      </button>
    </div>
  </div>

  <p-table
    [value]="filteredProducts"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
    styleClass="p-datatable-products"
    [rowHover]="true"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    (onSort)="onSort($event)">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          ID
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="price">
          Price
          <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate">
          Created Date
          <p-sortIcon field="createdDate"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.createdDate | date }}</td>
        <td>
          <div class="action-buttons">
            <button class="edit-button" (click)="navigateToEditProduct(product.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="delete-button" (click)="deleteProduct(product.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">No products found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
